<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li [routerLink]="['test-1']"
    [ngxRouteHighlighter]='ngxRouteHoghlighter.getNormalConfig(["/test-1","/test-2","/test-3","/test-4"])'>
    parent
  </li>
  <li [routerLink]="['test-2/2342423/25352342']"
    [ngxRouteHighlighter]='ngxRouteHoghlighter.getNormalConfig(["/test-2/*/*","/test-3","/test-4"])'>
    child
  </li>
  <li [routerLink]="['test-3']" [ngxRouteHighlighter]='ngxRouteHoghlighter.getNormalConfig(["/test-3","/test-4"])'>
    sub child
  </li>
  <li [routerLink]="['test-4']" [ngxRouteHighlighter]='ngxRouteHoghlighter.getStrictConfig(["/test-4"])'>
    sub sub child
  </li>
</ul>

<router-outlet></router-outlet>
